# ARA callback plugin environment for Ansible
export ANSIBLE_CALLBACK_PLUGINS=$({{ ara_venv_path }}/bin/python3 -m ara.setup.callback_plugins 2>/dev/null)
export ANSIBLE_ACTION_PLUGINS=$({{ ara_venv_path }}/bin/python3 -m ara.setup.action_plugins 2>/dev/null)
export ARA_DATABASE_NAME={{ ara_database_dir }}/ansible.sqlite
