services:
  jellyfin:
    image: jellyfin/jellyfin:{{ jellyfin_version }}
    container_name: jellyfin
    user: "1000:1000"
    ports:
      - "{{ jellyfin_http_port }}:8096"
    volumes:
      - {{ jellyfin_config_dir }}:/config
      - {{ jellyfin_cache_dir }}:/cache
      - {{ jellyfin_media_mount }}:/media:ro
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    runtime: nvidia
    restart: unless-stopped
