<?xml version="1.0" encoding="utf-8"?>
<NetworkConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <InternalHttpPort>{{ jellyfin_http_port }}</InternalHttpPort>
  <PublicHttpPort>{{ jellyfin_http_port }}</PublicHttpPort>
  <BaseUrl></BaseUrl>
  <EnableHttps>false</EnableHttps>
  <EnableRemoteAccess>true</EnableRemoteAccess>
  <AutoDiscovery>true</AutoDiscovery>
  <EnableIPv4>true</EnableIPv4>
  <EnableIPv6>false</EnableIPv6>
</NetworkConfiguration>
