iscsid.startup = {{ pve_iscsi_startup }}
node.startup = {{ pve_iscsi_node_startup }}
node.leading_login = {{ pve_iscsi_leading_login }}
node.session.timeo.replacement_timeout = {{ pve_iscsi_replacement_timeout }}
node.conn[0].timeo.login_timeout = 15
node.conn[0].timeo.logout_timeout = 15
node.conn[0].timeo.noop_out_interval = 5
node.conn[0].timeo.noop_out_timeout = 5
node.session.err_timeo.abort_timeout = 15
node.session.err_timeo.lu_reset_timeout = 30
node.session.err_timeo.tgt_reset_timeout = 30
node.session.err_timeo.host_reset_timeout = 60
node.session.initial_login_retry_max = 8
node.session.cmds_max = {{ pve_iscsi_cmds_max }}
node.session.queue_depth = {{ pve_iscsi_queue_depth }}
node.session.xmit_thread_priority = -20
node.session.iscsi.InitialR2T = No
node.session.iscsi.ImmediateData = Yes
node.session.iscsi.FirstBurstLength = {{ pve_iscsi_first_burst_length }}
node.session.iscsi.MaxBurstLength = {{ pve_iscsi_max_burst_length }}
node.conn[0].iscsi.MaxRecvDataSegmentLength = {{ pve_iscsi_max_recv_data_segment }}
node.conn[0].iscsi.MaxXmitDataSegmentLength = {{ pve_iscsi_max_xmit_data_segment }}
discovery.sendtargets.iscsi.MaxRecvDataSegmentLength = 32768
node.session.nr_sessions = 1
node.session.reopen_max = 0
node.session.iscsi.FastAbort = Yes
node.session.scan = auto
