- name: Prepare & bootstrap Kubernetes cluster
  hosts: k8s
  become: yes
  roles:
    - k8s/common
    - k8s/containerd
    - k8s/docker
    - k8s/kube_pkg
    - common/apps/kubectl

- name: Initialize first control‑plane node
  hosts: k8cluster1
  become: yes
  roles:
    - k8s/kube_init

- name: Deploy CNI & Argo CD
  hosts: k8cluster1
  become: yes
  roles:
    - k8s/cni
    - k8s/argocd